<!--fetch all the records from fridge property in the .ts file which is accessing the refrigerator.json-->
<marquee>Branded Collection deals in Walmart</marquee>
<div style="margin-top: 30px;">
    <div class="row">
        <!--1st column-->
        <div class="col col-lg-3">
            <app-allproducts></app-allproducts>
            <app-allproducts></app-allproducts>
            <app-allproducts></app-allproducts>
        </div>

        <!--2nd column-->
        <div class="card col-lg-6" style="border:none;margin-top: 30px;">
            <app-toysdeals><br><input type="number" name="quantity" [(ngModel)]="quantity" style="width:50px;border-radius:10px;" min="1" max="25">
                Quantity: 
                <br>
                <button class="btn btn-dark m-3" (click)="addToCart(product)" style="width:150px;border-radius:10px;">Add to Cart</button></app-toysdeals>
        </div>
        <!--3rd column-->
        <div class="col col-lg-3">
            <app-advertisement></app-advertisement>
            <app-advertisement></app-advertisement>
            
        </div>
    </div>
</div>
