.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

img {
  height: 500px;
}
img {
  height: 500px;
}

h5,
p {
  color: black;
  text-align: justify;

}
